.shadow{box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important}
.card-header:first-child{border-radius:calc(.35rem - 1px) calc(.35rem - 1px) 0 0}+.list-group .list-group-item:first-child{border-top:0}
.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:#f8f9fc;border-bottom:1px solid #e3e6f0}
.py-3{padding-top:1rem!important}.pr-3,.px-3{padding-right:1rem!important}.pb-3,.py-3{padding-bottom:1rem!important}.pl-3,
.m-0{margin:0!important}.mt-0,.my-0{margin-top:0!important}.mr-0,.mx-0{margin-right:0!important}.mb-0,.my-0{margin-bottom:0!important}.ml-0,.mx-0{margin-left:0!important}
.font-weight-bold{font-weight:700!important}
.text-primary{color:#4e73df!important}a.text-primary:focus,a.text-primary:hover{color:#224abe!important}
.card-body{flex:1 1 auto;padding:1.25rem}
.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}.table-responsive>
.table{border-collapse:collapse!important}.table td,.table th{background-color:#fff!important}
.table{width:100%;margin-bottom:1rem;color:#858796}.table td,.table th{padding:.75rem;vertical-align:top;border-top:1px solid #e3e6f0}
.table-bordered{border:0}
.table-bordered{border:1px solid #e3e6f0}.table-bordered td,.table-bordered th{border:1px solid #e3e6f0}.table-bordered thead td,.table-bordered thead th{border-bottom-width:2px}
